.ut-about-us {

}

.about-banner {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
}

.about-banner h1 {
  font-size: 3.58em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.about-banner h3 {
  padding: 0 280px 32px 280px;
}

.ut-overview__title {
  background: url(../../images/about-banner-1.jpg);
  background-attachment: fixed;
  color: white;
  padding-top: 140px;
  padding-bottom: 40px;
}

.ut-overview__title h1 {
  color: black;
}

.ut-overview__title h3 {
  color: black;
}

.section--overview ul {
  list-style: none;
  padding-left: 0;
}

.ut-overview__content {
  padding: 40px 0 20px 0;
}

.section--overview .about-banner__parallel {
  margin-bottom: 120px;
  color: #f0f0f0;
}

.section--overview .about-banner__parallel li{
  width: 50%;
  float: left;
  height: 640px;
}

.section--overview .about-banner__parallel__image-step {
  background-image: url(../../images/ab-step.jpg);
  height: 400px;
}

.section--overview .about-banner__parallel__image-block {
  background-image: url(../../images/ab-block.jpg);
  height: 400px;
}

.section--overview .about-banner__parallel__intro {
  background: #891818;
  height: 240px;
  padding: 60px;
}

.section--overview .about-banner__parallel__intro h4 {
  color: white;
  text-align: center;
  margin-top: 0;
  font-size: 2.57em;
  font-weight: bold;
}

.about-banner__parallel__intro a {
  text-decoration: none;
  color: white;
}

.ut-commit__title {
  background: url(../../images/about-banner-2.jpg);
  background-attachment: fixed;
  color: white;
  padding-top: 140px;
  padding-bottom: 40px;
}


.ut-commit__content ul {
  list-style: none;
  list-style-type: none;
}

.ut-commit__content h3 {
  padding: 20px 0 0 0;
}

.ut-commit__content p {
  padding: 10px 0 0 0;
}

#team {
  background: white;
  color: black;
}

#team ul {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
  margin-bottom: 120px;
}

#team ul li {
  float: left;
  width: 33.3%;
  padding: 5px 20px;
  height: 300px;
}

.ut-about__photo {
  height: 80%;
  background: #e5e5e5;
}

.ut-about__title {
  height: 20%;
  background: #891818;
  color: white;
  padding: 5px;
}
.about-banner .ut-about__title h3 {
  padding: 0px;
  margin-top: 10px;
}
