.ut__footer {
  background-color: #040404;
  border-top: 1px solid #949494;
}

.mailing-address {
  font-size: 0.92em;
  padding: 15px 0;
  color: #e5e5e5;
}

.social-area {
  padding: 15px 0;
}

.social-area a {
  margin: 0 20px;
  color: #0098c3;
  text-decoration: none;
}

.copyright {
  padding: 15px 0px;
  text-align: center;
  font-size: 0.92em;
  color: #e5e5e5;
}
