.ut-header {
  border-bottom-color: white;
  border-bottom-width: 1px;
}

.ut-navbar {
  position: static;  // make dropdown-menu full width
}

.ut-logo {
  background: url(../../images/logo.png);
  background-size: 100px 54px;
  width: 100px;
  height: 54px;
}

.navbar-dark {
  background: black;
}

.navbar-nav .nav-item--static {
  position: inherit;  //center dropdown menu
  text-align: center;
  margin-left: 70px;
}

.navbar-dark .navbar-nav .nav-link--white {
  color: white;     // same specificity but behind
}

.navbar-nav .nav-item .dropdown-menu {
  width: 100%;
  border-radius: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  background-color: white;
  color: black;
  border: 0;
}

.dropdown-menu ul{
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.dropdown-menu h5{
  font-size: 0.8em;
  color: #909090;
}

.dropdown-menu a{
  font-size: 0.8em;
  color: #333;
}

.dropdown-menu-item a{
  text-decoration: none;
  color: black;
}

.dropdown-menu-item a:hover{
  text-decoration: none;
  color: black;
}
