/******************** login **********************/
.ut-login__wrapper {
  position: relative;
  top: 200px;
}

.ut-login__btn {
  color: white;
  border-radius: 0;
  background-color: #0098c3;
}

.ut-login__btn:hover {
  color: white;
  border-radius: 0;
  background-color: #0098c3;
}

.ut-login__btn:active {
  color: white;
  border-radius: 0;
  background-color: #0098c3;
}

.ut-login__btn:focus {
  color: white;
  border-radius: 0;
  background-color: #0098c3;
}
