.ly-section {

}

.section--dark {
  background: #f5f5f5;
}

.ut-student__title {
  padding-top: 80px;
  padding-bottom: 80px;
}

.ut-student__title h1 {
  display: inline-block;
  margin-bottom: 0;
}

.ut-student__desc {
  padding-top: 30px;
  padding-bottom: 80px;
}

.ut-student__apply {
  padding-top: 0px;
  padding-bottom: 80px;
}

.ut-student__form {
  padding: 20px 0 20px 0;
  background: #f5f5f5;
}

.ut-student__sponsors {
  padding-top: 0px;
  padding-bottom: 80px;
}

.ut-sponsors__title {
  padding-bottom: 20px;
}

.ut-sponsors__card {
  width: 50px;
  height: 300px;
  background: #f5f5f5;
}
