@import './about.css';
@import './login.css';

* {
  font-family: "Open Sans"
}

.ut__header {
  background: white;
  width: 100%;
  z-index:999;
  margin: 0;
  font-weight: 900;
}

.ut-navbar {
  background-color: #f4f4f4;
  color: #f0f0f0;
  border-bottom-width: 1px;
  border-bottom-color: #891818;
}

.navbar-header a{
  color: black;
  font-size: 1.6em;
}

.navbar-nav li {
  position: inherit;
}

#bootstrap-overrides .dropdown a {
  color: #3c3c3c;
}

#bootstrap-overrides .dropdown a:hover {
  background-color: #f0f0f0;
}

#bootstrap-overrides .dropdown a:active {
  background-color: #f0f0f0;
}

#bootstrap-overrides .dropdown a:focus {
  background-color: #f0f0f0;
}

#bootstrap-overrides .dropdown-menu {
  width: 100%;
  border-radius: 0;
  padding-bottom: 20px;
  background-color: #891818;
  border: 0;
  margin-top: 1px;
}

#bootstrap-overrides .dropdown-menu ul{
  list-style: none;
  padding-left: 0;
}

#bootstrap-overrides .dropdown-menu a{
  text-decoration: none;
  background: #891818;
  color: #fff;
}

#bootstrap-overrides .dropdown-menu a:hover{
  text-decoration: none;
  background: #891818;
  color: #6c98b2;
}

#bootstrap-overrides h5 {
  font-size: 13px;
  color: #909090;
}

.topNavCol {
  color: black;
}

.ut-home__content {
  margin-bottom: 0px !important;
  background: url(../../images/bg-hourglass.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -20px;
  color: white;
  position: relative;
  overflow: hidden;
  min-height: 600px;
  border-bottom-width: 1px;
  border-bottom-color: white;
}

.cover-image-full-nav {
  height: calc(100vh - 110px);
}

.ut-home__slogan {
  padding-top: 120px;
}

.ut-home h2 {
  font-size: 2.47em;
  font-weight: bold;
  color: #3c3c3c;
  text-shadow: 2px 2px 2px #858585;
}
.ut-home p {
  font-size: 1.28em;
  color: #3c3c3c;
}


.ut-pages__content {
  background: white;
  position: relative;
  overflow: hidden;
  min-height: 600px;
}

.ut__footer {
  background-color: #040404;
  border-top: 1px solid #949494;
}

.mailing-address {
  font-size: 0.92em;
  margin: 4px 0;
  padding: 15px 0;
  color: #e5e5e5;
}

.social-area {
  margin: 4px 0;
  padding: 15px 0;
  color: #e5e5e5;
}

.social-area a {
  margin: 0 20px;
  color: #6c98b2;
  text-decoration: none;
}

.copyright {
  padding: 20px 15px;
  text-align: center;
  font-size: 0.92em;
  color: #e5e5e5;
}
